name: Flutter Continuous Integration

on:
    pull_request: 
        branches: ["main"]
    push:
        branches: ["main"]

jobs: 
    ci:
        name: Analyze & Test
        runs-on: ubuntu-latest

        steps:
            - name: Checkout repository
              uses: actions/checkout@v4

            - name: Setup Flutter
              uses: subosito/flutter-action@v2
              with:
                flutter-version: '3.35.2'
                cache: true

            - name: Install dependencies
              run: flutter pub get
            
            - name: Verify formatting
              run: dart format --output=none --set-exit-if-changed .

            - name: Static analysis
              run: flutter analyze

            - name: Run test
              run: flutter test --coverage
        